<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/copper-starter/src/main/java/org/copperengine/examples/orchestration/simulators/clients/OrchestrationServiceLoadTestClient.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.copperengine.examples.orchestration.simulators.clients.OrchestrationServiceLoadTestClient"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://localhost:9090/services/orchestration?wsdl"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="copper-starter"/>
</launchConfiguration>
